.tables {
  margin-top: 20px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 445px;
}
.tables tr {
  display: flex;
  justify-content: space-between;
}
.tables td {
  padding: 0.5rem;
  border: none;
}
.tables tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
.tables tbody {
  border-bottom: 0px solid white !important;
}
