.infoBox {
  height: 100%;
  display: flex;
  align-items: center;
}
.infoBox:not(:last-child) {
  margin-right: 0px;
}
.infoBox--selected {
  border-top: 10px solid greenyellow;
}
.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-top: 5px;
}
.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 10px;
}
